*.axf       
*.elf       
*.hex       
*.bin       
*.map       
*.lst       
*.o         
*.obj       
*.d         
*.crf       
*.lnp       
*.dep       
*.iex       
*.sct       
*.i        
*.asm             